name: Actions

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the stack
        run: docker-compose up -d
      - name: Check running containers
        run: docker ps -a
      - name: Logs app
        run: docker-compose logs postgresql
      - name: Logs app
        run: docker logs pipelines_app_1